.button {
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  font-size: var(--xs-font-size);
  margin: 0 10px 0 0;
  transition: var(--main-transition) border-radius;
  border-width: 0;
}
.border-radius:hover {
  border-radius: 22px;
}
