footer img.logo {
  width: 125px;
}
footer ul svg {
  --width-and-height: 33px;
  width: var(--width-and-height);
  height: var(--width-and-height);
  padding: 4px;
  transition: var(--main-transition);
}
