header {
  height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .logo {
  width: 125px;
}
header .container ul {
  display: flex;
  gap: 30px;
  position: relative;

}
header .container ul li,
header .container ul li a {
  height: 80px;
  align-items: center;
  font-size: var(--xs-font-size);
  transition: var(--main-transition) color;
  line-height: 80px;
}
header .container ul li a:hover,
header .container ul li:hover {
  color: var(--green);
}
