.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* background color */
.green-bg {
  background-color: var(--green);
}
.red-bg {
  background-color: var(--red);
}
.blue-bg {
  background-color: var(--blue);
}
.orange-bg {
  background-color: var(--orange);
}
.white-bg {
  background-color: white;
}
.black-bg {
  background-color: black;
}
.white-bg {
  background-color: white;
}
.black-bg {
  background-color: black;
}
/* color */
.c-white {
  color: white;
}
.c-black {
  color: black;
}
/* position */
.centerY {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.centerX {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* widht and heigth */
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
/* cursor */
.pointer {
  cursor: pointer;
}
